body {
    background-image: url("../img/bg-palm.png");
}

#bs-example-navbar-collapse-1 {
    float: right; 
    padding: 10px 0px 0px 10px;

}


.wish-pic {
    opacity: 0.5;
    padding: 10px 0px 10px 10px;
}

.start-pic {
    margin-top: 25px;
    margin-left: 160px;
}

.ono-pic {
    margin-left: 120px;
}

.gallery:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}


.jumbotron {
    opacity: 0.8; 
    margin-top: 40px; 
    text-align: center; 
    color: green; 
    font-family: 'Oswald', sans-serif;
    padding: 10px; 
    background-color: transparent;
}

.list-group {
    margin-top: 140px;
    text-align: center;
    font-style: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    opacity: 0.9; 
}

/*---------------------------itinerary------------------------------------------------------*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.itinerary-table {
    margin-top: 200px;
}

#itn-pic {
    margin-top: 0px;
}

/*---------------------------grindz------------------------------------------------------*/

div.gallery {
    border: 3px solid #ccc;
    border-style: double;
    height: 350px;
    margin-bottom: 30px;
}
    

div.gallery:hover {
    border: 3px solid #777;
}

div.gallery img {
    padding: 5px 5px 0px 5px;
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 17px;
    font-family: fantasy;
    color: green;
}


.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*---------------------------------- activity form + table------------------------------------ */
.activity-form {
    margin-left: 120px; 
    margin-right: 120px; 
    margin-top: 75px;
}
/* ----------------------------------end of table---------------------------------------------- */

/* ----------------------------------grindz columns-------------------------------------------- */
.middle-col, .right-col {
    margin-top: 200px;
} 

.hula-col, .middle-col, .right-col {
    padding: 30px;
}
/* ---------------------------------end of grindz columns-------------------------------------- */


.navbar-container {
    position: fixed;
    width: 100%;
    left: 0px;
    right: 0px;  
    z-index: 5;    
}
/* ----------------------------------medical---------------------------------------------- */

#contact {
    margin-top: 100px;
}

#UC-btn {
    padding-left: 20px;
}



#mapImage {
    background-image: url("../img/map2.jpg");
    /*Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /*Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /*Set up positioning */
 z-index: -1;  
  position: absolute;
  background-repeat: no-repeat;

}


#signup {
    margin-left: 120px;
}

#medical {
    margin-left: 121px;
    background-color: blue;
    color: white;
}