body {
    background-image: url("../img/bg-palm.png");
}
#bs-example-navbar-collapse-1 {
    float: right; 
    padding: 10px 0px 0px 10px;

}
.wish-pic {
    opacity: 0.5;
    padding: 10px 0px 10px 10px;
}
.help-pic {
    margin-top: 10px;
    margin-left: 160px;
}
.jumbotron {
    opacity: 0.8; 
    text-align: center; 
    color: green; 
    font-family: 'Oswald', sans-serif;
    padding: 10px; 
    background-color: transparent;
}
.list-group {
    margin-top: 140px;
    text-align: center;
    font-style: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    opacity: 0.9; 
}
/*---------------------------itinerary------------------------------------------------------*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

/*---------------------------grindz------------------------------------------------------*/

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

